/* 파일명: layoutEx1.css */
/* 기본적으로 마진(테두리를 기준으로 밖에 여백) */
body{
  margin: 0;
}
/* 태그 안에 태그가 들어간 중첩요소들은 기본 클래스 이름을 쓰고 내가 적용하고 싶은 태그들을 작성한다. */
.logo img{
  width: 130px;
}

/* 밑줄과 점을 없애기
안쪽과 밖 여백을 없애기 */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
/* float
  한줄에 하나씩 요소를 가로로 정렬하기 위해서 사용하는 아주 중요한 기법
  - 원래 이미지 주위를 텍스트로 감싸기 위해 만들어진 것!
  기본 float none

  미션
  - float를 선언된 요소 & 선언되지 않은 요소간 마진 사라진다.

  위에 내용의 문제를 해결하는 방법
  float: clear
    - float로 콘텐츠를 띄울 시 다음 내용은 빈자리를 채우려 올라오게 된다.
    이러한 현상은 브라우저의 오류로 생겨난 것이고, 이를 해결하기 위해서
    clearfix는 위에 문제들을 해결하기 위한 방법
*/
.nav-items li{
  float: left;
  margin: 10px;
}