/* 파일명: alertbox.css */
.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  /* display: none; */
}

/* 기본적인 UI
1. html css로 미리 디자인해 놓는다.
  숨겨야되나? 보여야되나?

2. 버튼을 누르거나 할 경우 UI를 보여
  달라고 자바스크립트 코드 작성함
*/
